*{
    margin: 0px;
    padding: 0px;
}
main{
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}
.top-players , .blogs{
    display: grid;
    grid-gap: 20px;
    place-items: center;
}
.top-players{
    grid-template-columns: repeat(3,1fr);
}
.blogs{
    grid-template-columns: repeat(2,1fr);
}
.player ,.blog{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.player img{
height: 56px;
    margin-right:  20px; ;
}
.thumbnail img{
height: 177px;
margin-right: 20px;
}
.filled{
    color: goldenrod;
    font-size: .8em;
}
.unfilled{
    color:gray;
}
.course-info{
    display: flex;
}





@media(max-width:992px){
    .top-players{
       
        grid-template-columns: repeat(2,1fr);
       
    } 
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width:600px){
    .top-players{
       
        grid-template-columns: repeat(1,1fr);
       
    } 
    .blog{
        display: block;
    }
}